<ion-header>
  <ion-toolbar>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center" >
      <ion-col size="12" *ngIf="!!photoService.photo" class="ion-justify-content-center ion-align-self-center" >
        <ion-img [src]="photoService.photo.webviewPath" style="width:50%; width: 50%;" ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
