<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- src/app/receipt-parser/receipt-parser.component.html -->
    <div *ngIf="receipt">
      <h2>Receipt Details</h2>
      <p>Date: {{ receipt.date }}</p>
      <p>Time: {{ receipt.time }}</p>
      <p>Store Number: {{ receipt.storeNumber }}</p>
      <p>Store Address: {{ receipt.storeAddress }}</p>
      <h3>Items Purchased</h3>
      <table>
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price per Item</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of receipt.items">
            <td>{{ item.itemName }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.pricePerItem | currency }}</td>
            <td>{{ item.subtotal | currency }}</td>
          </tr>
        </tbody>
      </table>
      <p>Discounts: {{ receipt.discounts | currency }}</p>
      <p>Tax: {{ receipt.tax | currency }}</p>
      <p>Sub Total: {{ receipt.subTotal | currency }}</p>
      <p>Total Amount: {{ receipt.totalAmount | currency }}</p>
      <p>Payment Method: {{ receipt.paymentMethod }}</p>
      <p>Receipt Number: {{ receipt.receiptNumber }}</p>
      <p>Cashier: {{ receipt.cashier }}</p>
    </div>
    <div>
   
   <app-user-management></app-user-management>
    </div>


  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="loadReceipt()">
      <ion-icon name="reload-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>